<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CEOrEE',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="ce-or-ee">
    <SlpContainer>
      <SlpRow class="slp-justify-content-center">
        <div class="enterprise-edition ce-or-ee__left-side">
          <div class="ce-or-ee-card__wrapper">
            <div
              class="enterprise-edition__card ce-or-ee-card slp-p-24 slp-mr-32"
            >
              <div
                v-if="data.enterprise.recommended"
                class="ce-or-ee-card__recommended slp-mb-16"
              >
                <SlpTypography
                  class="slp-mb-16 slp-mt-8"
                  tag="span"
                  variant="body2-bold"
                >
                  Recommended
                </SlpTypography>
              </div>
              <SlpTypography
                class="slp-mb-16 slp-mt-8"
                tag="h3"
                variant="heading2"
              >
                {{ data.enterprise.title }}
              </SlpTypography>
              <ul class="ce-or-ee-card__features">
                <li
                  v-for="feature in data.enterprise.features"
                  :key="feature.title"
                  class="ce-or-ee-card__feature slp-mb-8"
                >
                  <div class="ce-or-ee-card__feature-content">
                    <SlpIcon
                      v-if="feature.icon === 'checkmark'"
                      name="check-circle-filled"
                      variant="product"
                      class="ce-or-ee-card__icon slp-mr-8"
                      alt="Check icon"
                      size="sm"
                      slp-color="success-200"
                    />
                    <SlpIcon
                      v-if="feature.icon === 'red x'"
                      name="clear"
                      variant="product"
                      class="ce-or-ee-card__icon slp-mr-8"
                      alt="Check icon"
                      size="sm"
                      slp-color="alert-200"
                    />
                    <SlpTypography
                      class="feature-content__text"
                      tag="span"
                      variant="body1"
                    >
                      {{ feature.title
                      }}<span v-if="feature.url"
                        ><a
                          :href="feature.url"
                          :aria-label="feature.url_data_ga_name"
                          :data-ga-name="feature.url_data_ga_name"
                          :data-ga-location="feature.url_data_ga_location"
                          >{{ feature.title_text }}</a
                        ></span
                      >
                    </SlpTypography>
                  </div>
                </li>
              </ul>
              <SlpButton
                data-ga-location="body"
                data-ga-name="install enterprise"
                :href="data.enterprise.url"
                class="slp-mb-16 slp-mt-32"
                >{{ data.enterprise.url_text }}
                <SlpIcon
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  size="sm"
                  slp-color="$color-primary-300"
                />
              </SlpButton>
            </div>
          </div>
          <div class="ce-or-ee-card__wrapper-disclaimer">
            <div
              class="ce-or-ee-card__disclaimer"
              v-html="$md.render(data.enterprise.disclaimer)"
            ></div>
          </div>
        </div>
        <div class="community-edition ce-or-ee__right-side">
          <div class="ce-or-ee-card__wrapper">
            <div class="community-edition__card ce-or-ee-card slp-p-24">
              <SlpTypography class="slp-mb-16" tag="h3" variant="heading2">
                {{ data.community.title }}
              </SlpTypography>
              <ul class="ce-or-ee-card__features">
                <li
                  v-for="feature in data.community.features"
                  :key="feature.title"
                  class="ce-or-ee-card__feature slp-mb-8"
                >
                  <div class="ce-or-ee-card__feature-content">
                    <SlpIcon
                      v-if="feature.icon === 'checkmark'"
                      name="check-circle-filled"
                      variant="product"
                      class="ce-or-ee-card__icon slp-mr-8"
                      alt="Check icon"
                      size="sm"
                      slp-color="success-200"
                    />
                    <SlpIcon
                      v-if="feature.icon === 'red x'"
                      name="clear"
                      variant="product"
                      class="ce-or-ee-card__icon slp-mr-8"
                      alt="Check icon"
                      size="sm"
                      slp-color="alert-200"
                    />
                    <SlpTypography
                      class="feature-content__text"
                      tag="span"
                      variant="body1"
                    >
                      {{ feature.title }}
                    </SlpTypography>
                  </div>
                </li>
              </ul>
              <SlpButton
                :href="data.community.url"
                variant="secondary"
                class="slp-mb-16 slp-mt-16"
                data-ga-location="body"
                data-ga-name="install community"
                >{{ data.community.url_text }}
                <SlpIcon
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  size="sm"
                  slp-color="text-link-300"
                />
              </SlpButton>
            </div>
          </div>
          <div class="ce-or-ee-card__wrapper-disclaimer">
            <div
              class="ce-or-ee-card__disclaimer"
              v-html="$md.render(data.community.disclaimer)"
            ></div>
          </div>
        </div>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.ce-or-ee {
  margin-top: $spacing-64;

  &__left-side,
  &__right-side {
    width: calc(50% - 16px);
    display: flex;
    flex-direction: column;
  }
  &-card {
    text-align: left;
    background: $color-surface-50;
    border-radius: 12px;
    position: relative;
    flex-direction: column;

    &__wrapper {
      flex-grow: 1;
    }
    .slp-btn {
      justify-content: center;
    }
    .slp-text-heading2 {
      font-weight: $font-weight-bold;
      max-width: 300px;
    }
    &.enterprise-edition {
      &__card {
        height: 100%;
        border: 2px solid $color-accent-500;
        background-color: $color-surface-800;
        box-sizing: border-box;
        box-shadow: 0 2px 50px rgba($color-surface-700, 0.08);
      }
    }

    &.community-edition {
      width: calc(50% - 16px);
      &__card {
        height: 100%;
        border: 1px solid $color-surface-200;
        box-sizing: border-box;
        border-radius: 8px;
      }
    }

    &__recommended {
      color: $color-text-50;
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      top: -18px;
      background: $color-accent-500;
      padding: $spacing-8 $spacing-24;
      margin: 0 auto;
      border-radius: 50px;
    }

    &__disclaimer {
      padding: $spacing-16 $spacing-32;
      font-size: $text-body-3;
      line-height: $line-height-body-3;
      color: $color-text-200;
    }

    &__features {
      text-align: left;
      font-size: $text-body-1;
      line-height: $line-height-body-1;
    }

    &__feature svg {
      vertical-align: middle;
    }

    &__feature-content {
      display: flex;
      flex-direction: row;
      line-height: $line-height-default;

      &__text {
        line-height: $line-height-default;
      }
      svg {
        margin-top: $spacing-4;
        min-width: 16px;
      }
    }
  }
}

@media (max-width: 825px) {
  // change this value to the point in which the cards break
  .ce-or-ee {
    &__left-side,
    &__right-side {
      width: 100%;
    }
    &-card {
      &.community-edition,
      &.enterprise-edition {
        &__card {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .ce-or-ee {
    margin-top: 40px;
  }

  .ce-or-ee-card {
    &.community-edition {
      max-height: unset;
      margin-top: $spacing-16;
    }
  }

  h2 {
    font-size: 24px;
  }
}
</style>
