<script lang="ts">
import Vue from 'vue';
import { CropInfinityHero, NextStep } from '~/components/common/index.vue';

import {
  ResourcesNextSteps,
  ResourcesStartHere,
  ResourcesFeaturedItems,
  ResourcesBrowser,
} from '~/components/resources/index.vue';

export default Vue.extend({
  name: 'ResourcesPage',
  components: {
    CropInfinityHero,
    ResourcesStartHere,
    ResourcesBrowser,
    ResourcesFeaturedItems,
    ResourcesNextSteps,
    NextStep,
  },

  async asyncData({ $content, _, error }: any) {
    try {
      const document = await $content('resources/index').fetch();
      return { document };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
});
</script>
<template>
  <div v-if="document">
    <CropInfinityHero v-if="document.hero_block" :data="document.hero_block" />
    <ResourcesStartHere
      v-if="document.start_here_block"
      :data="document.start_here_block"
    />
    <ResourcesFeaturedItems
      v-if="document.featured_items_block"
      :data="document.featured_items_block"
    />
    <ResourcesBrowser
      v-if="document.resources_browser"
      :data="document.resources_browser"
    />
    <ResourcesNextSteps
      v-if="document.next_steps_block"
      :data="document.next_steps_block"
    />
    <SlpContainer>
      <NextStep disable-animations :variant="2" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss"></style>
