<script lang="ts">
export default {
  props: {
    premiumFeatures: {
      type: Array,
      required: false,
      default: null,
    },
  },
};
</script>

<template>
  <div class="premium-block">
    <SlpTypography tag="p" variant="heading5-bold" class="slp-mb-24">
      GitLab Premium includes:
    </SlpTypography>
    <ul class="list">
      <li v-for="feature in premiumFeatures" :key="feature.text" class="item">
        <SlpIcon class="slp-mr-16" variant="product" name="check" /><span
          >{{ feature.text }}
          <SlpTooltip
            v-if="feature.information"
            :id="feature.text"
            class="tooltip"
            :list="feature.information"
            position="bottom"
            mode="click"
          >
            <SlpIcon
              name="information-o"
              variant="product"
              hex-color="#171321"
              alt="Information icon" /></SlpTooltip
        ></span>
      </li>
    </ul>
    <SlpButton
      variant="primary"
      href="https://about.gitlab.com/pricing/premium/"
      data-ga-name="learn more about premium"
      data-ga-location="time roi calculator results"
    >
      Learn more about Premium
      <SlpIcon name="chevron-lg-right" variant="product" />
    </SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.premium-block {
  max-width: 340px;
  background: $color-surface-900;
  border-radius: 4px 4px 40px 4px;
  padding: $spacing-24 $spacing-24 $spacing-32 $spacing-24;
  margin: $spacing-24 auto;

  .list {
    margin-bottom: $spacing-24;
    text-align: left;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-8;
  }

  .tooltip {
    margin-left: -4px;
    border: none;
    top: 50%;
  }

  @media (max-width: $breakpoint-md) {
    margin: $spacing-16 auto;
    .slp-btn {
      text-align: left;
    }
  }
}
</style>
